@model VendasWeb.Models.Vendedor

@{
    ViewData["Title"] = "Remover Vendedor";
}

<h1>Remover</h1>


<div>
    <h4>Vendedor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nome@*Html.DisplayNameFor(model => model.VendedorNome)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendedorNome)
        </dd>
        <dt class = "col-sm-2">
           Email @*Html.DisplayNameFor(model => model.VendedorEmail)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendedorEmail)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendedorAniversario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendedorAniversario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendedorSalario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendedorSalario)
        </dd>*@
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="VendedorId" />
        <input type="submit" value="Remover" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para a lista</a>
    </form>
</div>
