@model VendasWeb.Models.Vendedor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vendedor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VendedorNome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VendedorNome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VendedorEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VendedorEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VendedorAniversario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VendedorAniversario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VendedorSalario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VendedorSalario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Filial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Filial.FilialId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VendedorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
